.nav-list{
    display: flex;
}

.contact-input-half{
    --gap: 24px;
    width: calc((100% - var(--gap)) / 2);
}

.card-list .card {
  min-width: 306px;
}

.project-card{
    &:nth-of-type(1){
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_1.png?raw=true);
    }
    &:nth-of-type(2){
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_2.png?raw=true);
    }
    &:nth-of-type(3){
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_3.png?raw=true);
    }
}

.project-content{
    max-width: 386px;
}


@media (max-width: 992px) {
    .nav-list{
        display: none;
    }
    .nav-list.active{
        padding: 12px 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 68px;
        left: 0px;
        background-color: var(--color-primary-50);
        width: 100%;
        text-align: center;
        gap: 12px;
    }

    body.menu-open{
        overflow: hidden;
    }

    body.menu-open .mask{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-dark-60a);
    }
    .card-list .card {
    min-width: 260px;
    }

    .project-card{
        &:nth-of-type(1){
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2026-web-camp/mobile/project_1.png);
        }
        &:nth-of-type(2){
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/mobile/project_2.png?raw=true);
        }
        &:nth-of-type(3){
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/mobile/project_3.png?raw=true);
        }        
    }

    .project-content{
        max-width: none;
    }
    /* QA：這邊也可以寫 max-width: 100%; 嗎 */
}